/* -*- css-indent-offset: 2; -*- */

* {
  font-family: Helvetica;
  -webkit-user-select: none;
}

#list {
  -webkit-column-count: 2;
}

body.done.mode-shop {
  background-color: #99ff99;
}

.mode-home div.needed {
  color: #c00000;
  text-decoration: underline;
}

.mode-shop div.needed {
  color: #000000;
}

.mode-shop div.not-needed {
  color: #e0e0e0;
}

.mode-shop div.bought {
  color: #c0c0c0;
  text-decoration: line-through;
}

.mode-home div.edited {
  -webkit-user-select: auto; !important
}

.mode-home div.highlight {
  color: #ffffff;
  background-color: #000080;
}

#list hr {
  border-style: none;
  height: 0.25ex;
}

#switch {
  float: left;
}

span.option-selected {
  color: #0000e0;
}

#reset-button {
  float: right;
}

@media only screen and (min-device-width: 601px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
}
